modules = ["nodejs-20"]
run = "npm install && npm run dev"
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5173
externalPort = 80

[deployment]
run = ["sh", "-c", "npm install && npm run build && npm run preview"]
deploymentTarget = "cloudrun"
